1. Create a DataFrame :
 a. Print the first five rows of the DataFrame.  
 b. Get the summary statistics of the 'Age' and 'Salary' columns.  
 c. Calculate the average salary of employees in the 'HR' department.

1.
a. Print the first five rows of the DataFrame.

In [1]:
import pandas as pd
import numpy as np

data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
    }

df = pd.DataFrame(data)

print("First Five rows of the data \n:", df.head())

First Five rows of the data
:       Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

1.
b.Get the summary statistics of the 'Age' and 'Salary' columns.

In [2]:
summary_stats = df[['Age', 'Salary']].describe()
print("\nSummary statistics for 'Age' and 'Salary':\n", summary_stats)

Summary statistics for 'Age' and 'Salary':
              Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

1.
c. Calculate the average salary of employees in the 'HR' department.

In [3]:
avg_hr_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("\nAverage salary in HR department:", avg_hr_salary)

Average salary in HR department: 46000.0

2. Add a new column, 'Bonus', which is 10% of the salary.

In [ ]:
#'Bonus' column as 10% of 'Salary':
df['Bonus'] = df['Salary'] * 0.10

# Updated DataFrame:
print("DF with udated Bonus column:\n", df)

DF with udated Bonus column:
       Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

3. Filter the DataFrame to show employees aged between 25 and 30.

In [6]:
filtered_df = df[(df['Age'] >= 25) & (df['Age'] <= 30)]

#Filtered DataFrame:
print("Employees aged between 25 and 30:\n", filtered_df)

Employees aged between 25 and 30:
   Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

4. Group the data by 'Department' and calculate the average salary for each department.

In [ ]:
# Grouped the data by 'Department' and calculated average salary:
avg_salary_by_dept = df.groupby('Department')['Salary'].mean()

# The desired result:
print("Average salary calculated by department:\n", avg_salary_by_dept)

Average salary by department:
 Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

5. Sort the DataFrame by 'Salary' in ascending order and save the result to a new CSV file.

In [ ]:
#Sorted salary in Ascenfing Order:
sorted_df = df.sort_values(by='Salary', ascending=True)

#Saved to a new CSV file:
sorted_df.to_csv('sorted_employees_by_salary.csv', index=False)

# The desired sorted DataFrame:
print("Sorted DataFrame by Salary in Ascending Order:\n", sorted_df)

Sorted DataFrame by Salary in Ascending Order:
       Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
4      Eve   29         HR   47000  4700.0
2  Charlie   22         IT   50000  5000.0
1      Bob   27    Finance   54000  5400.0
3    Diana   32  Marketing   62000  6200.0